*{
	padding:0;
	margin:0;
}

.intro{
	border-bottom: 1px solid #e5e5e5;
}
.intro p{
	text-indent:32px;
	font-size:16px;
	color:#808080;
}

.haveBg{
	text-indent: 30px;
	padding:10px;
	border-radius: 10px;
	line-height:24px;
	background-color: #F7F7F7;
}
/*
.illustrate{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color: "black";
  font-size: 20px;
  text-indent:40px;
} */
/* new add on 2017-2-14*/
.selected {
	color: red;
}
.filter_button {
	position: relative;
	left: 620px;
	margin-bottom: 10px;
}
#main_page {
	margin-top: 50px;
	margin-bottom: 100px;
}
.workflow {
	position: relative;
	margin-top: 50px;
	max-width: 700px;
}
.library_pipe {
	position: relative;
	left: 100px;
	margin-top: 5px;
	max-height: 550px;
}
.page_logo {
	position: relative;
	left: 700px;
	padding-top: 0px;
	padding-bottom: 5px;
	max-width: 180px;
}
.main_logo {
	position: relative;
	left: 680px;
	padding-top: 0px;
	padding-bottom: 5px;
	max-width: 180px;
}
.contact {
	color: #C4C4C4;
}
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.each_part {
	text-indent: 32px;
	font-size: 16px;
	padding-top: 10px;
}
.plot_text {
	text-align: center;
	color: #C4C4C4;
}
.part {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
	/* border-bottom: 1px solid #e5e5e5; */
}
