.content{
	color:#666;
}
.allWrap{
	width:1120px;
	margin:0 auto;
}
.contentWrap {
	width:950px;
	position: relative;
	left: 500px;
	float: none;
	transition: all .5s ease;
}
/*内容里边的样式*/
.part{
	/*border-right:1px solid #eee;*/
}
.part h3{
	padding:10px;
	color:#54bb98;
	border-bottom: 1px solid #c1c1c1;
}
.part h3 i{
	font-size: 16px;
	padding-right:10px;
}
.part h4{
	color:#428BCA;
	padding-left:35px;
	padding-top:10px;
}
.haveBg{
	text-indent: 30px;  /* 段落首行缩进 */
	padding:10px;
	border-radius: 10px;
	line-height:24px;
	background-color: #e9e9e9;
}
.imgWrap{
	text-align: center;
	padding-top:10px;
	/* border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9; */
}
.imgWrap h6{
	margin-top:20px;
}
.partP{
	border-bottom: 1px dotted #ccc;
	padding-bottom:10px;
}
/*imgList样式*/
.imgList{
	width:500px;
	height:330px;
	margin:0 auto;
	position:relative;
	margin-top:20px;
}
.imgList h6{
	clear: both;
	text-align: center;
	padding-top:10px;
}
.currentImg{
	width:400px;
	height:299px;
	line-height: 300px;
	/*border-top:1px dotted #54bb98;*/
	border-bottom:1px dotted #54bb98;

	/*border-left:1px dotted #54bb98;*/
	float:left;
}
.currentImg img{
	max-width: 400px;
	max-height:300px;
	padding-bottom: 5px;
}
.smallImgList{
	width:100px;
	float:left;
	height:300px;
	overflow: hidden;
}
.smallImgList ul{
	list-style:none;
	/*margin-top:-100px;*/
	transition:all .5s ease-in;
}
.smallImgList ul li{
	width:100px;
	height:96px;
	padding-left:5px;
	padding-right:5px;
	line-height: 96px;
	background-color:#ccc;
	margin-bottom:2px;
	margin-top:2px;
	float:left;
	text-align: center;
	cursor: pointer;
	transition:all .5s ease;
}
.smallImgList ul li:hover{
	background-color:#54bb98;
}
.smallImgList ul img{
	max-width: 90px;
	max-height: 70px;
}

.goI{
	position:absolute;
	width:100px;
	height:20px;
	line-height: 20px;
	text-align: center;
	color:white;
	cursor:pointer;
}
.goI.toPrev{
	top:0;
	right:0;
}
.goI.toNext{
	bottom:30px;
	right:0;
}
.goI:hover i{
	color:#54bb98;
}
/*表格 存在派生选择器*/
.myTable{
	margin:0 auto;
	margin-bottom: 10px;
}
.myTable table{
	margin:0 auto;
	border:1px solid #54bb98;
}
.myTable table caption{
	text-align: center;
}
.myTable table thead th{
	background-color:#54bb98;
	color:white;
	padding:5px;
	text-align: center;
}
.myTable table tbody td{
	text-align: center;
	padding:2px;
	border:1px solid #54bb98;
}
/*guide里边的样式*/
.helpGuide h4{

	margin:0;
	padding:20px;
	padding-left:20px;
	border-bottom:1px solid #54AC8E;
}
.helpGuide>ul{
	/*list-style: none;*/
	list-style-position: inside;
}
.helpGuide > ul>li{
	/*border:1px solid red;*/
	transition:all .5s ease-in;
	border-bottom:1px solid #54AC8E;
}
.helpGuide > ul>li:hover{
	background-color:#54AC8E;
}
.helpGuide > ul>li>h5{
	margin-top:0;
	padding-top:10px;
	padding-left:20px;
}
.helpGuide >ul >li>ul{
	padding-left:40px;
}
.helpGuide >ul >li>ul li{
	padding:2px 0 3px 0;
}
.helpGuide ul li a{
	color:white;
}
/*隐藏*/
.guideTog{
	position:absolute;
	height:60px;
	line-height: 30px;
	border-radius: 5px 0 0 5px;
	width:25px;
	right:100%;
	/*top:50%;*/
	top:20%;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	background-color:#54bb98;
	overflow: hidden;
	cursor:pointer;
}
.guideTog span{
	transition:all .5s ease;
}
.spanC{
	display: inline-block;
	margin-top:-60px;
}
/*guide固定*/
.fixGuide{
	/*position:fixed;*/
	margin-top:-59px;
	/*top:40px;*/
}
/*线条*/
.oneLine{
	border-top:1px dotted #ccc;
}

.helpContentTitle{
	margin-top:50px;
	border-bottom: 2px dotted #54bb98;
}
.helpContentTitle h3{
	text-align: center;
	color:#777;
}
.wordExplain{
	margin:0 auto;
	margin-left:30px;

}
.wordExplain li,.wordExplain2 li{
	line-height:25px;
}
.wordExplain2{
	margin:0 auto;
	margin-left:30px;

}
