@charset "utf-8";
/* CSS Document */


.albumSlider {width:600px;background:#FFFFFF; margin:0 auto; padding:10px; border: 1px solid #e9e9e9; font-size:10px;
	position:relative;overflow:hidden;}
.albumSlider .fullview{position:relative; float:left;}
.albumSlider .fullview,
.albumSlider .fullview img {width:480px; height:480px;}
.albumSlider .fullview img {position:absolute; top:0; left:0;}
.albumSlider .slider{width:110px;height:480px;background:#fff;
	position:absolute;top:10px;right:10px;}
		.albumSlider .imglistwrap{height:448px; overflow:hidden;margin-right:5px; position:relative;}
	.albumSlider .imglist{position:relative;}
	.albumSlider ul{list-style-type: none; padding-left:0}
	.albumSlider li{height:96px;margin-top:0;clear:both; list-style:none;}
	.albumSlider li img{width:90px;height:90px; float:right; display:inline;
		margin:2px 2px 0 0;border:1px solid #EAF2D3;}
	.albumSlider a{width:103px;height:96px;display:block; outline:none;}
	.albumSlider li a:hover,
	.albumSlider li.current a{background:url(../img/album-slider-arrow_box.png) no-repeat 0 0;}
.albumSlider .button {width: 100px; height:16px;cursor:pointer;margin-left:5px;
	background:url(../img/album-slider-button.png) no-repeat 50% 100%;}
		.albumSlider .movebackward{background-position: 50% 0;}
