{% extends "single_page_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block nav %}
{% if fastqc %}<li role="presentation"><a href="rendered_data_stat.html">数据统计</a></li>{% endif %}
<li role="presentation" class="active"><a href="rendered_mapping.html">序列比对</a></li>
{% if rsqec %}<li role="presentation"><a href="rendered_rseqc.html">数据质控</a></li>{% endif %}
{% if quantification %}<li role="presentation"><a href="rendered_quantitative_analysis.html">定量分析</a></li>{% endif %}
{% if quantification %}<li role="presentation"><a href="rendered_diff_analysis.html">差异分析</a></li>{% endif %}
{% if enrichment %}<li role="presentation"><a href="rendered_enrichment_analysis.html">功能富集</a></li>{% endif %}
{% endblock %}

{% block intro %}
<div class="intro">
  <p>
    <I>此部分展示了测序数据比对到基因组的情况。我们使用 STAR 软件，将测序获得的 reads 比对到基因组，
    得到的包含 reads 在基因组位置信息的 bam 文件。样品的比对率受到样品情况以及物种基因组情况等多个因素的影响，
    一般来说这个比例在 60~90% 之间。</I>
  </p>
</div>
{% endblock %}

{% block mapping_stat_table %}
<div class="part row">
  <div class="col-md-4" style="margin-top:50px">
    <h3>比对结果统计</h3>
    <p class="haveBg" style="text-indent:32px;font-size:16px">
      各样品比对结果如右表所示。
    </p>
    <p><a class="btn btn-primary" href="{{mapping_table_path}}" target="_blank" role="button">更多详情 &raquo;</a></p>
  </div>
  <div class="myTable col-md-8">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <caption></caption>
        <thead>
          <tr>
          {% for key in header %}
          <th style="text-align:center;">{{key}}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for each_list in mapping_table %}
        <tr>
          {% for cell in each_list %}
            <td style="text-align:center;">{{cell}}</td>
          {% endfor %}
        </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block mapping_stats_plot %}
<div class="part row">
    <div class="col-lg-4">
        <h3>比对率展示图</h3>
        <p style="text-indent:32px;font-size:16px" class="haveBg">
        样品比对率情况如右图所示。蓝色，橙色和黄色分别代表只比对到基因组一个位置
        (unique mapped reads)，比对到基因组多个位置 (multiple mapped reads)
        和无法比对到基因组 (unmapped reads) 的 reads 的比例。
        </p>
        <p><a class="btn btn-primary" href="{{mapping_stat_plot_dir}}" target="_blank" role="button">更多详情 &raquo;</a></p>
    </div>
    <div class="col-lg-6" style="padding-left:150px">
        <a class="fancybox-effects-d" href="{{mapping_stat_plot_path}}"><img src="{{mapping_stat_plot_path}}" alt="mapping stat plot" class="maxWidth" style="max-width: 450px"></a>
    </div>
</div>
{% endblock %}

{% block document_mapping %}
{% endblock %}
