{% extends "single_page_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block qc_table %}
<div class="each_part">
  <p>
    获得测序序列(Sequenced Reads)后，我们使用<a href="http://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC</a>
  (Andrew S.2010)对本次测序所有的样品进行数据质控，下表展示了数据的基本情况: <!--<a href="{{qc_table_path}}">查看数据文件</a>-->
  </p>
</div>
<div class="part myTable">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <caption>数据过滤统计分析表</caption>
        <thead>
          <tr>
          {% for key in header %}
          <th style="text-align:center;">{{key}}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for each_list in qc_table %}
        <tr>
          {% for cell in each_list %}
            <td style="text-align:center;">{{cell}}</td>
          {% endfor %}
        </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}

{% block quality_barplot %}
<div class="part group_plot">
  <div class="each_part">
    <p>各样测序序列质量值分布如下图所示：</p>
  </div>
  <div class="albumSlider">
    <div class="fullview"><img src="{{all_quality_data_barplot_path[0]}}" alt="reads quality"></div>
    <div class="slider">
      <div class="button movebackward" title="向上滚动"></div>
        <div class="imglistwrap">
          <ul class="imglist">
            {% for each_all_quality_data_barplot_path in all_quality_data_barplot_path %}
              <li><a href="{{each_all_quality_data_barplot_path}}" class="example2" title="测序序列质量值分布,x轴为质量值,y轴为不同质量值序列的比例." rel="example_group3"><img src="{{each_all_quality_data_barplot_path}}" alt="example2"></a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}
