{% extends "single_page_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block go_table %}
<div class="each_part">
  <p>
    我们利用<a href="http://bioconductor.org/packages/goseq">GOseq</a>（Young et al.2010)对差异基本进行GO富集分析，
    老师可以根据实验目的筛选相关功能的差异基因，并进行功能研究。 <!--<a href="{{go_enrichment_table_path}}">查看数据文件</a>-->
  </p>
</div>
<div class="part myTable">
  <table class="table table-striped table-bordered" cellspacing="0">
    <caption>GO 富集分析结果</caption>
    <thead>
      <tr>
      {% for key in go_header %}
      <th style="text-align:center;">{{key}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for each_list in go_enrichment_table %}
      <tr>
      {% for cell in each_list %}
         <th style="text-align:center;">{{cell}}</th>
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{%block go_barplot %}
<div class="part group_plot">
  <div class="each_part">
    <p>我们挑选了富集最显著的30个GO Term在该图中进行展示，若富集的GO Term条目不足30条，则全展示。</p>
  </div>
  <div class="albumSlider">
    <div class="fullview"><img src="{{all_go_enrichment_plot_path[0]}}" alt="Go barplot"></div>
    <div class="slider">
      <div class="button movebackward" title="向上滚动"></div>
        <div class="imglistwrap">
          <ul class="imglist">
            {% for each_go_enrichment_plot_path in all_go_enrichment_plot_path %}
              <li><a href="{{each_go_enrichment_plot_path}}" class="example2" title="go barplot." rel="example_group3"><img src="{{each_go_enrichment_plot_path}}" alt="example2"></a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block dag_plot %}
<div class="part group_plot">
  <div class="each_part">
    <p>
    我们的项目中使用<a href="http://bioconductor.org/packages/topGO">topGO</a>分别绘制生物过程(biological process)、
    分子功能(molecular function) 和细胞组分(cellular component) 的DAG 图。
    从上至下所定义的功能范围越来越小，颜色的深浅代表富集程度。
    </p>
  </div>
  <div class="albumSlider">
    <div class="fullview"><img src="{{all_dag_plot_path[0]}}" alt="volcano plot"></div>
    <div class="slider">
      <div class="button movebackward" title="向上滚动"></div>
        <div class="imglistwrap">
          <ul class="imglist">
            {% for each_dag_plot_path in all_dag_plot_path %}
              <li><a href="{{each_dag_plot_path}}" class="example2" title="DAG." rel="example_group3"><img src="{{each_dag_plot_path}}" alt="example2"></a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  <p class="plot_text">GO 富集分析DAG图</p>
</div>
{% endblock %}

{% block kegg_table %}
<div class="each_part">
  <p>
      通过使用<a href="http://bioconductor.org/packages/topGO">KOBAS</a>（Chen Xie,et al. 2011）对差异基因进行KEGG富集分析，
      找出差异基因显著富集的KEGG Pathway。帮助老师进行后续的功能分析。 <!--<a href="{{kegg_table_path}}">查看数据文件</a>-->
  </p>
</div>
<div class="part myTable">
  <table class="table table-striped table-bordered" cellspacing="0">
    <caption>KEGG 富集分析结果</caption>
    <thead>
      <tr>
      {% for key in kegg_header %}
      <th style="text-align:center;">{{key}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for each_list in kegg_enrichment_table %}
      <tr>
      {% for value in each_list %}
         <th style="text-align:center;">{{value}}</th>
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block kegg_barplot %}
<div class="part group_plot">
  <div class="each_part">
    <p>
      对于每个比较组,我们对该比较中所有差异基因,以及分别在两组中上调表达的基因进行KEGG富集分析。
      对于富集结果,我们各挑选显著富集(Pvalue < 0.05)的15条进行绘图,若不足15条,则全部展示。
    </p>
  </div>
  <div class="albumSlider">
    <div class="fullview"><img src="{{all_kegg_enrichment_plot_path[0]}}" alt="kegg barplot"></div>
    <div class="slider">
      <div class="button movebackward" title="向上滚动"></div>
        <div class="imglistwrap">
          <ul class="imglist">
            {% for each_kegg_enrichment_plot_path in all_kegg_enrichment_plot_path %}
              <li><a href="{{each_kegg_enrichment_plot_path}}" class="example2" title="kegg barplot." rel="example_group3"><img src="{{each_kegg_enrichment_plot_path}}" alt="example2"></a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block kegg_pathway %}
<div class="part group_plot">
  <div class="each_part">
    <p>
      我们对差异基因所在的KEGG Pathway通路进行下载，
      并使用<a href="http://pathview.uucc.edu">pathview</a>(Luo,et al.2013)对差异基因进行标注，如下图所示:
    </p>
  </div>
  <div class="albumSlider">
    <div class="fullview"><img src="{{all_kegg_pathway_plot_path[0]}}" alt="volcano plot"></div>
    <div class="slider">
      <div class="button movebackward" title="向上滚动"></div>
        <div class="imglistwrap">
          <ul class="imglist">
            {% for each_kegg_pathway_plot_path in all_kegg_pathway_plot_path %}
              <li><a href="{{each_kegg_pathway_plot_path}}" class="example2" title="DAG." rel="example_group3"><img src="{{each_kegg_pathway_plot_path}}" alt="example2"></a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  <p class="plot_text">KEGG pathway</p>
</div>
{% endblock %}
