{% extends "single_page_base.html" %}
{% block title %}{{title}}{% endblock %}
{% block gene_count_table %}
<div class="each_part">
  <p>
    数据质控合格的样品，我们使用<a href="https://pachterlab.github.io/kallisto/">Kallisto</a>
    (Bray N.2015)对它们进行定量分析。各样品基因表达tmp如下表表示： <!--<a href="{{gene_count_table_path}}">查看数据文件</a>-->
  </p>
</div>
<div class="part myTable">
  <table class="table table-striped table-bordered" cellspacing="0">
    <caption>基因统计表</caption>
    <thead>
      <tr>
      {% for key in header %}
      <th style="text-align:center;">{{key}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for each_list in gene_count_table %}
      <tr>
      {% for cell in each_list %}
         <th style="text-align:center;">{{cell}}</th>
      {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block quantitative_plots %}
<div class="part row">
    <div class="col-lg-4">
        <h3>基因整体表达</h3>
        <p style="text-indent:32px;font-size:16px">
          基因的整体表达情况，左上角和右下角分别为基因表达箱型图和小提琴图，横坐标为样品，纵坐标为
          log10(tpm+1)；下图为基因的表达密度，横坐标为log10(tmp+1)，纵坐标为不同表达值密度值。
        </p>
        <p><a class="btn btn-primary" href="#" role="button">更多详情 &raquo;</a></p>
    </div>
    <div class="col-lg-6">
        <a class="fancybox-effects-d" href="{{Gene_merge_plot_path}}" title="基因表达整体情况，左上角和右下角分别为基因表达箱型图和小提琴图，横坐标为样品，纵坐标为log10(tmp+1);下面为基因表达密度图，横坐标为log10(tpm+1)，纵坐标为不同表达值密度值"><img src= "{{Gene_merge_plot_path}}" alt="" class="maxWidth" style="max-width: 450px"/></a>
    </div>
</div>
<h3><span class="label label-primary">相关性分析</span></h3>
<div class="part row">
    <div class="col-lg-4">
        <h3>相关性图</h3>
        <p style="text-indent:32px;font-size:16px">
          我们对所有的样品两两之间进行相关性分析以及主成分分析(Principal components analysis,PCA)来反映
          样品间的整体差异，分析结果如下图所示：
        </p>
        <p><a class="btn btn-primary" href="#" role="button">更多详情 &raquo;</a></p>
    </div>
    <div class="col-lg-6">
        <a class="fancybox-effects-d" href="{{sample_correlation_plot_path}}"><img src="{{sample_correlation_plot_path}}" alt="相关性图" class="maxWidth" style="max-width: 500px"></a>
    </div>
</div>
<div class="part row">
    <div class="col-lg-4">
        <h3>PCA Plot</h3>
        <p style="text-indent:20px">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p><a class="btn btn-primary" href="#" role="button">更多详情 &raquo;</a></p>
    </div>
    <div class="col-lg-6">
        <a class="fancybox-effects-d" href="{{PCA_plot_path}}"><img src="{{PCA_plot_path}}" alt="PCA图" class="maxWidth" style="max-width: 450px"></a>
    </div>
</div>
{% endblock %}
